force-app/main/default/flows/Loyalty_Program.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Loyalty_Program_Email</name>
        <label>Loyalty Program Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>HandsMen_Customer__c.Loyalty_Program_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Loop_through_records</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Loop_through_records.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>HandsMen_Customer__c.Loyalty_Program_Email</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>loyalty_status_check</name>
        <label>loyalty status check</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>update_to_silver</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Silver</defaultConnectorLabel>
        <rules>
            <name>Gold</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_records.Total_Purchases__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_to_gold</targetReference>
            </connector>
            <label>Gold</label>
        </rules>
        <rules>
            <name>Bronze</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_records.Total_Purchases__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>500.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_to_bronze</targetReference>
            </connector>
            <label>Bronze</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Loyalty Program {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Loyalty Program</label>
    <loops>
        <name>Loop_through_records</name>
        <label>Loop through records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Customers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>loyalty_status_check</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Customers</name>
        <label>Get Customers</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_records</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>HandsMen_Customer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_to_bronze</name>
        <label>update to bronze</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loyalty_Program_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_through_records.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Loyalty_Status__c</field>
            <value>
                <stringValue>Bronze</stringValue>
            </value>
        </inputAssignments>
        <object>HandsMen_Customer__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_to_gold</name>
        <label>update to gold</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loyalty_Program_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_through_records.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Loyalty_Status__c</field>
            <value>
                <stringValue>Gold</stringValue>
            </value>
        </inputAssignments>
        <object>HandsMen_Customer__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_to_silver</name>
        <label>update to silver</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loyalty_Program_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_through_records.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Loyalty_Status__c</field>
            <value>
                <stringValue>Silver</stringValue>
            </value>
        </inputAssignments>
        <object>HandsMen_Customer__c</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Customers</targetReference>
        </connector>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2025-10-27</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
